# Virtual environment
backend/.venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
docs/
#extension
extension/node_modules
extension/out
extension/.vscode-test.mjs

# Test/cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Cloned repositories
backend/repos/
backend/storage/

# OS files
.DS_Store
Thumbs.db

#miscellaneous
history-summariser example.xlsx
iitg_tp3.pptx
Repo summary extn.mp4
